Repository bigwoof91/frontend-utils, changes with the labels that .github/labeler.yml gives for each.
All labels: area: repo, area: infra, area: core, area: packages, type: test

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
'area: repo':
  - '*'

'area: infra':
  - .changeset/**/*
  - .github/**/*
  - .husky/**/*
  - _storybook/**/*
  - .vscode/**/*
  - tools/**/*
  - package.json

# core bundle
'area: core':
  - packages/core/**/*

# packages
'area: packages':
  - packages/**/*

# tests
'type: test':
  - '**/__tests__/**/*'

clean readme
  README.md
Labels: area: repo

✨ feat(repo): add commit linting with commitizen and lint-staged
  .commitlintrc.js
  .github/workflows/on_pull_request_tests_force_status.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc.json
  config/eslint-config-futils/index.js
  config/eslint-config-futils/package.json
  package.json
  pnpm-lock.yaml
Labels: area: repo, area: infra

🧰 tooling(repo): internalize local pkgs
  config/futil-shared/package.json
  config/futil-shared/tsconfig.json
  config/internal-eslint-config-futil/index.js
  config/internal-eslint-config-futil/package.json
  config/internal-tsconfig/base.json
  config/internal-tsconfig/package.json
  config/internal-tsconfig/react-library.json
  package.json
  packages/browser/package.json
  packages/browser/tsconfig.json
  packages/core/.gitignore
  packages/core/package.json
  packages/core/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
  vitest.setup-tests.ts
Labels: area: repo, area: infra, area: core, area: packages

🧰 tooling(repo): clean up tools
  config/internal-eslint-config-futil/index.js
  packages/core/tools/update-dependencies.js
  tools/utils/env.js
  tools/utils/get-workspace-info.js
  tsconfig.json
Labels: area: repo, area: infra, area: core, area: packages

🧰 tooling(repo): optimize ci/cd
  .changeset/commit.js
  .changeset/config.json
  .changeset/rotten-worms-relate.md
  .commitlintrc.js
  .github/workflows/main-quality.yml
  .github/workflows/main-release.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pr-quality-force-status.yml
  .github/workflows/pr-quality.yml
  package.json
  pnpm-lock.yaml
Labels: area: repo, area: infra

🐛 fix(repo): fix scripts
  package.json
Labels: area: repo, area: infra

🧰 tooling(ci/cd): add if condition for release flow
  .github/workflows/main-release.yml
Labels: area: infra

🧰 tooling(repo): combining workflows
  .github/workflows/main-quality-and-release.yml
  .github/workflows/main-quality.yml
Labels: area: infra

🐛 fix(cd): fix frozen lockfile
  .github/composite-actions/install/action.yml
  .github/workflows/main-quality-and-release.yml
Labels: area: infra

🐛 fix(cd): fix frozen lockfile
  pnpm-lock.yaml
Labels: area: repo

🐛 fix(cd): fix frozen lockfile
  .changeset/commit.old.js
  .changeset/config.json
  .github/workflows/main-quality-and-release.yml
  config/internal-eslint-config-futil/package.json
  config/internal-tsconfig/package.json
  package.json
  packages/browser/LICENSE
  packages/browser/package.json
  packages/browser/tsconfig.json
  packages/core/LICENSE
  packages/core/package.json
  pnpm-lock.yaml
Labels: area: repo, area: infra, area: core, area: packages

🐛 fix(cd): fix frozen lockfile
  config/internal-tsconfig/package.json
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Labels: area: repo, area: infra, area: core, area: packages

🐛 fix(cd): fix frozen lockfile
  config/internal-tsconfig/package.json
Labels: none

🐛 fix(cd): fix frozen lockfile
  config/.tsconfig/base.json
  config/.tsconfig/react-library.json
  config/internal-tsconfig/CHANGELOG.md
  config/internal-tsconfig/package.json
  config/packages/internal-eslint-config-futil/CHANGELOG.md
  config/packages/internal-eslint-config-futil/index.js
  config/packages/internal-eslint-config-futil/package.json
  package.json
  packages/browser/package.json
  packages/browser/tsconfig.json
  packages/core/package.json
  packages/core/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Labels: area: repo, area: infra, area: core, area: packages

🧹 chore(repo): remove unused script
  .changeset/commit.old.js
Labels: area: infra

🧹 chore(repo): published packages
  packages/browser/package.json
  packages/browser/tsup.config.ts
  packages/core/package.json
  packages/react/LICENSE
Labels: area: core, area: packages

📜 docs(changeset): test ci/cd
  .changeset/warm-pumpkins-accept.md
  pnpm-lock.yaml
Labels: area: repo, area: infra

Test publish (#7)
  .changeset/warm-pumpkins-accept.md
  packages/browser/package.json
  packages/browser/tsup.config.ts
  packages/core/package.json
  packages/react/LICENSE
  pnpm-lock.yaml
Labels: area: repo, area: infra, area: core, area: packages

🤖 ci(changesets): version packages
  .changeset/warm-pumpkins-accept.md
  packages/browser/CHANGELOG.md
  packages/browser/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Labels: area: infra, area: core, area: packages

📜 docs(pkgs): update readmes
  packages/browser/README.md
  packages/browser/package.json
Labels: area: packages

📜 docs(pkgs): update lock and fix version script
  .github/composite-actions/install/action.yml
  .github/workflows/main-quality-and-release.yml
  package.json
  packages/browser/package.json
  pnpm-lock.yaml
Labels: area: repo, area: infra, area: packages

chore(ci): remove emoji from commitlint config
  .commitlintrc.js
Labels: area: repo

tooling(plop): add plop template for packages
  config/.tsconfig/base.json
  package.json
  packages/browser/tsconfig.json
  plopfile.js
  pnpm-lock.yaml
  tools/plop-files/actions/pnpm.js
  tools/plop-files/plop-package.js
  tools/plop-files/templates/package/.npmignore.hbs
  tools/plop-files/templates/package/index.hbs
  tools/plop-files/templates/package/package-json.hbs
  tools/plop-files/templates/package/readme.hbs
  tools/plop-files/templates/package/tsconfig.hbs
  tools/plop-files/templates/package/tsup.config.hbs
Labels: area: repo, area: infra, area: packages

feat(browser): accept multiple params for getQueryParam(s)
  .changeset/tame-dogs-fetch.md
  config/.tsconfig/base.json
  packages/browser/__tests__/get-query-params.spec.ts
  packages/browser/src/get-query-params.ts
  tsconfig.json
Labels: area: repo, area: infra, area: packages, type: test

feat(browser): accept multiple params for getQueryParam(s) (#10)
  .changeset/tame-dogs-fetch.md
  config/.tsconfig/base.json
  packages/browser/__tests__/get-query-params.spec.ts
  packages/browser/src/get-query-params.ts
  tsconfig.json
Labels: area: repo, area: infra, area: packages, type: test

chore(repo): cleanup packages and dx flows
  .eslintrc.js
  .lintstagedrc.json
  README.md
  config/packages/internal-eslint-config-futil/CHANGELOG.md
  config/packages/internal-eslint-config-futil/index.js
  config/packages/internal-eslint-config-futil/package.json
  package.json
  packages/browser/README.md
  packages/browser/package.json
  packages/browser/tsconfig.json
  packages/browser/tsup.config.ts
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/plop-files/templates/package/package-json.hbs
  tools/plop-files/templates/package/readme.hbs
  tools/plop-files/templates/package/tsup.config.hbs
  tools/productionize-packages.js
  tools/utils/env.js
  tools/utils/get-workspace-info.js
  tools/utils/index.js
  tsconfig.json
Labels: area: repo, area: infra, area: core, area: packages

docs(readme): update main readme with dev and usage
  CONTRIBUTING.md
  README.md
  packages/browser/package.json
  packages/core/package.json
  tools/plop-files/templates/package/package-json.hbs
Labels: area: repo, area: infra, area: core, area: packages

fix(ci): fix vitest globals types/eslint
  config/.tsconfig/base.json
  tsconfig.json
Labels: area: repo

feat(v1): consolidate packages to v1 for now
  package.json
  packages/react/README.md
  packages/v1/.npmignore
  packages/v1/package.json
  packages/v1/readme.md
  packages/v1/src/__tests__/get-query-params.spec.ts
  packages/v1/src/get-query-params.ts
  packages/v1/src/index.ts
  packages/v1/tsconfig.json
  packages/v1/tsup.config.ts
  pnpm-lock.yaml
  tools/futil-workspace-command
  tools/productionize-packages.js
  tools/utils/get-workspace-info.js
Labels: area: repo, area: infra, area: packages, type: test

chore(changeset): init v1 package
  .changeset/rich-sheep-wink.md
Labels: area: infra

chore(deps): upgrade all deps
  package.json
  packages/browser/package.json
  packages/core/package.json
  packages/v1/package.json
  pnpm-lock.yaml
  tools/plop-files/templates/package/package-json.hbs
Labels: area: repo, area: infra, area: core, area: packages

chore(browser): remove browser package
  .changeset/tame-dogs-fetch.md
  packages/browser/.npmignore
  packages/browser/CHANGELOG.md
  packages/browser/README.md
  packages/browser/__tests__/get-query-params.spec.ts
  packages/browser/package.json
  packages/browser/src/get-query-params.ts
  packages/browser/src/index.ts
  packages/browser/tsconfig.json
  packages/browser/tsup.config.ts
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/browser.ts
  packages/core/src/v1.ts
  pnpm-lock.yaml
Labels: area: repo, area: infra, area: core, area: packages, type: test

feat(v1): consolidate packages to v1 for now (#15)
  .changeset/rich-sheep-wink.md
  .changeset/tame-dogs-fetch.md
  package.json
  packages/browser/CHANGELOG.md
  packages/browser/README.md
  packages/browser/tsconfig.json
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/browser.ts
  packages/core/src/v1.ts
  packages/react/README.md
  packages/v1/.npmignore
  packages/v1/package.json
  packages/v1/readme.md
  packages/v1/src/__tests__/get-query-params.spec.ts
  packages/v1/src/get-query-params.ts
  packages/v1/src/index.ts
  packages/v1/tsconfig.json
  packages/v1/tsup.config.ts
  pnpm-lock.yaml
  tools/futil-workspace-command
  tools/plop-files/templates/package/package-json.hbs
  tools/productionize-packages.js
  tools/utils/get-workspace-info.js
Labels: area: repo, area: infra, area: core, area: packages, type: test

WIP
  package-lock.json
  package.json
  packages/v1/src/__tests__/window-redirect.spec.ts
  packages/v1/src/window-redirect.ts
  pnpm-lock.yaml
Labels: area: repo, area: infra, area: packages, type: test

test(v1): fix tests with happy-dom env
  .changeset/dry-dingos-reply.md
  .eslintrc.js
  package.json
  packages/core/package.json
  packages/v1/package.json
  packages/v1/src/__tests__/open-new-tab.spec.ts
  packages/v1/src/__tests__/window-redirect.spec.ts
  packages/v1/src/index.ts
  packages/v1/src/open-new-tab.ts
  packages/v1/src/window-redirect.ts
  pnpm-lock.yaml
Labels: area: repo, area: infra, area: core, area: packages, type: test

fix(repo): remove package-lock.json
  package-lock.json
  packages/v1/src/get-query-params.ts
  packages/v1/src/open-new-tab.ts
  packages/v1/src/window-redirect.ts
Labels: area: repo, area: packages

chore(internal): initialize internal package
  packages/internal/.npmignore
  packages/internal/package.json
  packages/internal/readme.md
  packages/internal/src/index.ts
  packages/internal/src/logger.ts
  packages/internal/tsconfig.json
  packages/internal/tsup.config.ts
  pnpm-lock.yaml
  tools/utils/logger.js
Labels: area: repo, area: infra, area: packages

add windowRedirect and openNewTab (#16)
  .changeset/dry-dingos-reply.md
  .eslintrc.js
  package.json
  packages/core/package.json
  packages/internal/.npmignore
  packages/internal/package.json
  packages/internal/readme.md
  packages/internal/src/index.ts
  packages/internal/src/logger.ts
  packages/internal/tsconfig.json
  packages/internal/tsup.config.ts
  packages/v1/src/__tests__/open-new-tab.spec.ts
  packages/v1/src/__tests__/window-redirect.spec.ts
  packages/v1/src/get-query-params.ts
  packages/v1/src/index.ts
  packages/v1/src/open-new-tab.ts
  packages/v1/src/window-redirect.ts
  pnpm-lock.yaml
  tools/plop-files/templates/package/package-json.hbs
  tools/utils/logger.js
Labels: area: repo, area: infra, area: core, area: packages, type: test

feat(internal): solidify logger for internal usage
  package.json
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/internal.ts
  packages/internal/package.json
  packages/internal/readme.md
  packages/internal/src/index.ts
  packages/internal/src/logger.ts
  packages/v1/package.json
  packages/v1/src/get-query-params.ts
  packages/v1/src/open-new-tab.ts
  packages/v1/src/window-redirect.ts
  packages/v1/tsup.config.ts
  pnpm-lock.yaml
  tools/plop-files/templates/package/package-json.hbs
  turbo.json
Labels: area: repo, area: infra, area: core, area: packages

chore(internal): clean up logger
  packages/internal/src/logger.ts
  packages/v1/src/get-query-params.ts
  packages/v1/src/open-new-tab.ts
  packages/v1/src/window-redirect.ts
Labels: area: packages
