Repository bigwoof91/frontend-utils, changes with the labels that .github/labeler.yml gives for each.
All labels: area: repo, area: infra, area: core, area: packages, type: test

fix(repo): fix internal package references
  package.json
  packages/core/package.json
  packages/internal/package.json
  packages/internal/tsup.config.ts
  packages/v1/package.json
  packages/v1/tsup.config.ts
  pnpm-lock.yaml
  tools/plop-files/templates/package/package-json.hbs
  tools/plop-files/templates/package/tsup.config.hbs
  turbo.json
Labels: area: repo, area: infra, area: core, area: packages

feat(internal): solidify logger for internal usage (#17)
  package.json
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/internal.ts
  packages/internal/package.json
  packages/internal/readme.md
  packages/internal/src/index.ts
  packages/internal/src/logger.ts
  packages/internal/tsup.config.ts
  packages/v1/package.json
  packages/v1/src/get-query-params.ts
  packages/v1/src/open-new-tab.ts
  packages/v1/src/window-redirect.ts
  packages/v1/tsup.config.ts
  pnpm-lock.yaml
  tools/plop-files/templates/package/package-json.hbs
  tools/plop-files/templates/package/tsup.config.hbs
  turbo.json
Labels: area: repo, area: infra, area: core, area: packages

tooling(pkgs): add clean-package to packages release workflow
  .github/workflows/main-release.yml
  config/.clean-package/clean-package.config.json
  package.json
  packages/internal/.npmignore
  packages/internal/package.json
  packages/v1/.npmignore
  packages/v1/package.json
  pnpm-lock.yaml
  tools/plop-files/templates/package/.npmignore.hbs
  tools/plop-files/templates/package/package-json.hbs
Labels: area: repo, area: infra, area: packages

docs(readme): improve installation instructions
  README.md
Labels: area: repo

docs(readme): improve installation instructions
  README.md
Labels: area: repo

fix(pkgs): fix path to clean-package config
  packages/internal/package.json
  packages/v1/package.json
  tools/plop-files/templates/package/package-json.hbs
Labels: area: infra, area: packages

feat(v1): add is-function and run-if-fn
  packages/v1/src/__tests__/is-function.spec.ts
  packages/v1/src/__tests__/run-if-fn.spec.ts
  packages/v1/src/index.ts
  packages/v1/src/is-function.ts
  packages/v1/src/run-if-fn.ts
  packages/v1/src/types.ts
Labels: area: packages, type: test

feat(v1): add fundamental types
  packages/v1/src/types.ts
Labels: area: packages

tooling(pkgs): add test coverage to PR
  .github/workflows/pr-quality.yml
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Labels: area: repo, area: infra

chore(changeset): bump v1
  .changeset/tricky-pumas-greet.md
  vitest.config.ts
Labels: area: repo, area: infra

chore(tests): replace istanbul with built-in v8
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Labels: area: repo, area: infra

chore(tests): make tests less verbose
  packages/v1/src/__tests__/is-function.spec.ts
  packages/v1/src/__tests__/run-if-fn.spec.ts
Labels: area: packages, type: test

feat(v1): add is-function and run-if-fn (#19)
  .changeset/tricky-pumas-greet.md
  .github/workflows/pr-quality.yml
  package.json
  packages/v1/src/__tests__/is-function.spec.ts
  packages/v1/src/__tests__/run-if-fn.spec.ts
  packages/v1/src/index.ts
  packages/v1/src/is-function.ts
  packages/v1/src/run-if-fn.ts
  packages/v1/src/types.ts
  pnpm-lock.yaml
  vitest.config.ts
Labels: area: repo, area: infra, area: packages, type: test

feat(v1): add callAll helper
  packages/v1/src/__tests__/call-all.spec.ts
  packages/v1/src/call-all.ts
  packages/v1/src/types.ts
Labels: area: packages, type: test

chore(changeset): bump v1 with callAll helper
  .changeset/blue-moles-thank.md
  packages/v1/src/index.ts
Labels: area: infra, area: packages

feat(v1): add callAll helper (#21)
  .changeset/blue-moles-thank.md
  packages/v1/src/__tests__/call-all.spec.ts
  packages/v1/src/call-all.ts
  packages/v1/src/index.ts
  packages/v1/src/types.ts
Labels: area: infra, area: packages, type: test

feat(v1): add spread and callWith helpers
  packages/v1/src/__tests__/call-with.spec.ts
  packages/v1/src/__tests__/spread.spec.ts
  packages/v1/src/call-with.ts
  packages/v1/src/index.ts
  packages/v1/src/open-new-tab.ts
  packages/v1/src/spread.ts
  packages/v1/src/types.ts
  packages/v1/src/window-redirect.ts
Labels: area: packages, type: test

chore(changeset): bump v1
  .changeset/metal-masks-chew.md
  packages/v1/src/__tests__/spread.spec.ts
  packages/v1/src/index.ts
  packages/v1/src/spread.ts
  packages/v1/src/types.ts
Labels: area: infra, area: packages, type: test

feat(v1): add spread and callWith helpers (#23)
  .changeset/metal-masks-chew.md
  packages/v1/src/__tests__/call-with.spec.ts
  packages/v1/src/__tests__/spread.spec.ts
  packages/v1/src/call-with.ts
  packages/v1/src/index.ts
  packages/v1/src/open-new-tab.ts
  packages/v1/src/spread.ts
  packages/v1/src/types.ts
  packages/v1/src/window-redirect.ts
Labels: area: infra, area: packages, type: test

chore(docs): add npm and minzipped badges
  README.md
  packages/core/README.md
Labels: area: repo, area: core, area: packages

chore(docs): update badges
  README.md
Labels: area: repo

tooling(ci/cd): bump actions checkout
  .github/workflows/main-release.yml
  .github/workflows/pr-quality.yml
Labels: area: infra

Update README.md
  README.md
Labels: area: repo

Update README.md
  README.md
Labels: area: repo

Update README.md
  README.md
Labels: area: repo

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
'area: repo':
  - '*'

'area: infra':
  - .changeset/**/*
  - .github/**/*
  - .husky/**/*
  - _storybook/**/*
  - .vscode/**/*
  - tools/**/*
  - package.json

# core bundle
'area: core':
  - packages/core/**/*

# packages
'area: packages':
  - packages/**/*

# tests
'type: test':
  - '**/__tests__/**/*'
